In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [92]:
df=pd.read_csv('1. Weather Data.csv')
df.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [91]:
### when the weather is clear?
df.Weather.value_counts()
#1326 clear
weather_clear=df.loc[df['Weather']=='Clear']
weather_clear.head(2)

,Date/Time,Visibility_km,Press_kPa,Weather,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h
67,1/3/2012 19:00,25.0,101.74,Clear,-16.9,-24.8,50,24
114,1/5/2012 18:00,25.0,100.71,Clear,-7.1,-14.4,56,11

In [51]:
#umber of times when  the temp is = 40>t>0
Temp_above0=df.loc[(df['Temp_C']>0)&(df['Temp_C']<40)]
Temp_above0.count()
#6600

Date/Time           6600
Temp_C              6600
Dew Point Temp_C    6600
Rel Hum_%           6600
Wind Speed_km/h     6600
Visibility_km       6600
Press_kPa           6600
Weather             6600
dtype: int64

In [28]:
#no mistakes in data
df.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [90]:
#rename weather column and move it to the second column

cols = list(df.columns.values)
df = df[[cols[0]] + [cols[-1]] + cols[1:7]]
df.rename(columns={'Weather':'Weather condition'})
df.head(2)

,Date/Time,Visibility_km,Press_kPa,Weather,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h
0,1/1/2012 0:00,8.0,101.24,Fog,-1.8,-3.9,86,4
1,1/1/2012 1:00,8.0,101.24,Fog,-1.8,-3.7,87,4

In [59]:
#the mean of vsivility
y=df['Visibility_km'].mean()
print(y)
#standerd deviation
x=df['Visibility_km'].std()
print(x)
#variance og Rel Hum_%
v=df['Rel Hum_%'].var()
print(v)

27.664446721311478
12.622688245171492

In [88]:
#9) Find all instances when 'Snow' was recorded.
Snow=df[df['Weather'].str.contains('Snow')]
Snow.head(10)

,Date/Time,Press_kPa,Weather,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km
41,1/2/2012 17:00,99.66,Snow Showers,-2.1,-9.5,57,22,25.0
44,1/2/2012 20:00,100.07,Snow Showers,-5.6,-13.4,54,24,25.0
45,1/2/2012 21:00,100.15,Snow Showers,-5.8,-12.8,58,26,25.0
47,1/2/2012 23:00,100.27,Snow Showers,-7.4,-14.1,59,17,19.3
48,1/3/2012 0:00,100.35,Snow Showers,-9.0,-16.0,57,28,25.0
50,1/3/2012 2:00,100.53,Snow Showers,-10.5,-15.8,65,22,12.9
51,1/3/2012 3:00,100.61,Snow Showers,-11.3,-18.7,54,33,25.0
53,1/3/2012 5:00,100.76,Snow Showers,-12.9,-19.1,60,22,25.0
54,1/3/2012 6:00,100.85,Snow Showers,-13.3,-19.3,61,19,25.0
55,1/3/2012 7:00,100.95,Snow,-14.0,-19.5,63,19,25.0

In [89]:
#Find all instances when 'Wind Speed is above 24' and 'Visibility is 25'.
wind_s=df.loc[(df['Wind Speed_km/h']>24)&(df['Visibility_km']==25)]
wind_s.head(2)

,Date/Time,Press_kPa,Weather,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km
23,1/1/2012 23:00,99.31,Cloudy,5.3,2.0,79,30,25.0
24,1/2/2012 0:00,99.26,Rain Showers,5.2,1.5,77,35,25.0

In [86]:
#What is the Mean value of each column against each 'Weather Condition ?
df.groupby('Weather').mean().head(2)




#What is the Minimum & Maximum value of each column against each 'Weather Condition ?

,Press_kPa,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km
Weather,,,,,,
Clear,101.587443,6.825716,0.089367,64.497738,10.557315,30.153243
Cloudy,100.911441,7.970544,2.375810,69.592593,16.127315,26.625752

In [83]:
df.groupby('Weather').min().head(2)

,Date/Time,Press_kPa,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km
Weather,,,,,,,
Clear,1/11/2012 1:00,99.52,-23.3,-28.5,20,0,11.3
Cloudy,1/1/2012 17:00,98.39,-21.4,-26.8,18,0,11.3

In [85]:
df.groupby('Weather').max().head(2)

,Date/Time,Press_kPa,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km
Weather,,,,,,,
Clear,9/9/2012 5:00,103.63,32.8,20.4,99,33,48.3
Cloudy,9/9/2012 23:00,103.65,30.5,22.6,99,54,48.3

In [94]:
 #Find all instances when 'Weather is Clear' or 'Visibility is above 40'
df.loc[(df['Weather']=='Clear')|(df['Visibility_km']>40)].head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
106,1/5/2012 10:00,-6.0,-10.0,73,17,48.3,100.45,Mainly Clear

In [ ]:
#Weather is Clear' and 'Relative Humidity is greater than 50'or'Visibility is above 40'
df.loc[(df['Weather']=='Clear')|(df['Visibility_km']>40)&(df['Rel Hum_%']>50)].head(20)